# IntelliJ project files
.idea
*.iml
out
gen

# Python 環境，詳細請看 requiremeents.txt
YOLOToolsEnv

# 使用 YOLO 模型需要安裝應用程式
install

# YOLO 模型
models
# 模型副檔名
*.pt

# 訓練資料
trainingData

# YOLO Trainer 訓練資料夾
workdir
# YOLO Trainer 輸出資料r86
output_zips

# 各種設定檔
*config.*
!tools/yolo_batch_detector_gui/main_window_config.py
# 避免將可生成的資料上傳
*.json*

# pyinstaller 建置應用程式資料夾
build
# pyinstaller 輸出應用程式資料夾
dist
# pyinstaller 建置應用程式設定檔案
*.spec

# 日誌
log
*.log

# 測試使用
test*

# 暫存
*tmp

# 本機 Python 版本紀錄
PythonVersion.md

# Python 快取
__pycache__/
*.py[cod]
*$py.class

# 本機驗證資料與大型資料集
valData/
